---
layout: default
title: I'm a Slim title!
---

== partial "test_partial"

#content
  p This example shows you how a basic Slim file looks.

.md
  markdown:
   ## I'm a header!

   * Yay!
   * #{"Nif" + "ty!"}